@media screen and (max-width : 1080px) {
    
    .left-screen{
        display: none;
    }
    .right-screen{
        width: 98%;
        /* display: flex; */
        /* flex-direction: column; */
    }
    .service-inputs{
        display: flex;
        flex-direction: column;
    }
    .service-inputs input{
        width: 100%;
    }
    .service-info-content{
        display: flex;
        flex-direction: column;
    }
    .service-info-item{
        width: 99%;
    }
}